td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
/*
tr:hover {
  background-color: #ddd;
}
*/
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

table{
    margin: 0 auto;
}

.tableLabel{
  
  display: table-cell;
            width: 1px;
            white-space: nowrap;

}
.tableInput{
  background-color: white;
  color: black;
   width: 70%;
}

#tableForm{
  display: table;
  width: 100%
}
span {
    display: table-cell;
            padding: 0 4px 0 6px;
}